<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://www.zachmccabe.com/assets/css/kaoliang3_article.css">
    <style>
    {% include kaoliang_test.html %}
    </style>
  </head>
  
<body>
<header>
<p>{% include nav.html %}</p>
</header>

<main>
<h1>test</h1>
<div class="xwrap">
<div class="xnest20">
<p>This is just a test.</p>
</div>
</div>
</main>

<footer>
{% include footer.html %}
</footer>
    
</body>
</html>
