html, body {
  margin: 0 auto;
}

body {
  background-color: #fff;
  color: #333;
  font: normal normal 1.1em/1.6 sans-serif;
}

@media (min-width: 64em){body{font-size:1.2em}}
@media (min-width: 85em){body{font-size:1.4em}}
@media (min-width: 120em){body{font-size:2.2em}}
@media (min-width: 160em){body{font-size:3em}}
@media (prefers-color-scheme: dark) {body {
  background-color: #000;
  color: #fff;
  font: normal normal 1.1em/1.6 sans-serif;
  }
}

article, header, main, section {
  margin: 0 auto;
  padding: 0;
}

header, footer {
  text-align: center;
  width: 100%;
}

header {
  margin: 0 auto;
  padding: 0;
}

header nav {
  font-size: smaller;
}

footer {
  font-size: small;
  margin: 0 auto;
  padding: 5em 0 0;
}




/* MULTI USE BOXES */

.xwrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 20em;
  justify-content: center;
  padding: 3em 1em 0;
  margin: 0 auto;
}

.xnest {
  margin: auto;
}

.briarsCTA {
  background: linear-gradient(145deg, rgba(255,255,255,0) 0%, rgba(38,139,210,0.3) 100%);
  margin: 5em auto 5em;
  padding: 1em 0.5em;
}

.briarsNAV {
  background: linear-gradient(145deg, rgba(255,255,255,0) 0%, rgba(38,139,210,0.3) 100%);
  margin: 5em auto 5em;
  padding: 1em 0.5em;
}

.briarsNAV ul {
  list-style-type: none;
  marign: 0;
  padding: 0;
}

hr {
  background-color: currentColor;
  border: none;
  color: currentColor;
  height: 0.1rem;
  margin: 5em 0 5em;
  padding: 0;
  width: 5em;
}




/* FORMS, IMAGES, LISTS AND TABLES BELOW */

figure {
  margin: 5em auto; 
}

figure + h2, h3, h4 {
  margin-top: 5em;
}

figure img {
  margin: 0;
  padding: 0;
}

figcaption {
  color: #currentColor;
  font-size: smaller;
  font-weight: 700;
  margin: 0;
  padding: 1em 0 1em;
  text-align: left;
}

img {
width: 100%;
height: auto;
}

img[src$=".jpg"]{
background: currentColor;
}

ol, ul {
  margin: 1em 0;
  margin-left: 1em;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
}

table {
  margin: 5em auto;
}

th {
  margin: 1em;
  text-transform: uppercase;
}

th, td {
  border-bottom: 1px dotted currentColor;
  color: currentColor;
  text-align: left;
  padding: 0.5em;
}




/* TYPOGRAPHY */

h1, h2, h3, h4 {
  color: currentColor;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.2;
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h2 + h3 {
  margin-top: 0;
}

h3 {
  font-size: 1.3em;
}

h3 + h4 {
  margin-top: 0;
}

h4 {
font-size: 1em;
}

a {
  color: #268bd2;
  overflow-wrap: break-word;
}

a[href*="//"]:not([href*="zachmccabe.com"]):after {
  content: " ↗️";
  font-size: x-small;
}

aside, blockquote {
  color: currentColor;
  margin-left: 0;
}

aside + h2, h3, h4 {
  margin-top: 5em;
}

blockquote + h2, h3, h4 {
  margin-top: 5em;
}

.lede {
  font-size: larger;
}

mark {
  background-color: rgba(255,255,255,0);
  border-bottom: 1px dotted currentColor;
  color: currentColor;
  padding: 0.1em;
  text-decoration: none;
}

p + h2 {
  margin-top: 5em;
}

p + h3, h4 {
  margin-top: 3em;
}

ol + h2, h3, h4 {
  margin-top: 5em;
}

ul + h2, h3, h4 {
  margin-top: 5em;
}
