html, body {
  margin: 0 auto;
}

body {
  background-color: #fefcfb;
  /* btw that's rgb(254, 252, 251) */
  /* btw #fefcf5; was prev background-color */
  color: #47433a;
  font: normal normal 1.3em/1.5 sans-serif;
}

@media (max-width: 25em) {h1,h2{font-size:1.5em}}
@media (min-width: 64em){body{font-size:1.2em;line-height:1.6}}
@media (min-width: 85.375em){body{font-size:1.4em}}
@media (min-width: 120em){body{font-size:1.6em}}
@media (min-width: 160em){body{font-size:1.8em}}


header, footer {
  text-align: center;
}

header {
  margin: 0 auto;
  padding-top: 3em;
}

footer {
  font-size: small;
  margin: 0 auto;
  padding: 5em 0;
  width: 100%;
}

article, main, section {
  margin: 0 auto;
  padding: 0;
}





/* MULTI USE BOXES */

.xwrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 20em;
  justify-content: center;
  padding: 0 1em;
  margin: 0 auto;
}

.xnest {
  margin: auto;
}

.xnest20 {
  margin: auto;
  max-width: 20em;
}

.kaoCTA {
  background-image: linear-gradient(to bottom right, rgb(254, 252, 251), rgba(255, 195, 0, 0.3));  /* that's #FFC300 btw */
  margin-top: 5em;
  padding: 1em 0.5em;
  text-align: center;
}

.kaoNAV {
background-image: linear-gradient(to bottom right, rgb(254, 252, 251), rgba(255, 195, 0, 0.3));  /* that's #FFC300 btw */
margin: 5em auto 5em;
padding: 1em 0.5em;
}

.kaoNAV ul {
list-style-type: none;
marign: 0;
padding: 0;
}







/* FORMS, IMAGES, LISTS AND TABLES BELOW */

figure {
  margin: 5em auto; 
}

figure + h2, h3, h4 {
  margin-top: 5em;
}

figure img {
  margin: 0;
  padding: 0;
}

figcaption {
  color: #0f1320;
  font-size: smaller;
  font-weight: 700;
  margin: 0;
  padding: 1em 0 1em;
  text-align: left;
}

img {
  height: auto;
  width: 100%;
  max-width: 500px;
  margin: 5em auto;
}

img[src$=".gif"] {
  height: auto;
  width: 100%;
  max-width: 300px;
}

ol, ul {
  margin: 1em 0;
  margin-left: 1em;
  padding-left: 0;
}

li {
  margin-bottom: 0.5em;
}

table {
  margin: 5em auto;
}

th {
  margin: 1em;
  text-transform: uppercase;
}

th, td {
  border-bottom: 1px dotted currentColor;
  color: currentColor;
  text-align: left;
  padding: 0.5em;
}



/* TYPOGRAPHY */

h1, h2, h3, h4 {
  color: #202a30;
  line-height: 1.25;
  overflow-wrap: break-word;
}

h1 {
  text-align: center;
}

h2, h3, h4 {
  margin: 0;
  text-align: left;
}

h2 + h3 {
  margin-top: 0;
}

h3 + h4 {
  margin-top: 0;
}


.chunky {
  color: #3000a8;
  font-size: 130%;
}

a {
  color: #268bd2;
  overflow-wrap: break-word;
}

aside, blockquote {
  border-left: 0.05rem solid #225d25;
  font-size: 85%;
  margin-left: 0;
  padding: 0.5rem;
}

aside + h2, h3, h4 {
  margin-top: 5em;
}

blockquote + h2, h3, h4 {
  margin-top: 5em;
}

mark {
  background-color: #fefcf5;
  border-bottom: 1px dotted currentColor;
  color: currentColor;
  padding: 0.1em;
  text-decoration: none;
}

p + h2, h3, h4 {
  margin-top: 5em;
}

ol + h2, h3, h4 {
  margin-top: 5em;
}

ul + h2, h3, h4 {
  margin-top: 5em;
}
