html, body {
  margin: 0 auto;
}

body {
  background-color: #fff;
  color: #333;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro","Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  font-size: 1em;
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

article, main, section {
  margin: 0;
  padding: 0;
}

header, footer {
  width: 100%;
}

header {
  margin: 0 0 2em;
}

footer {
  font-size: 90%;
  margin: 0 auto;
  padding: 5em 0 0;
  text-align: center;
}




/* MULTI USE BOXES */

.xwrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 20em;
  justify-content: center;
  padding: 0 1em 0;
  margin: 0 auto;
}

.xnest {
  margin: auto;
}

.xnest20 {
  margin: 0 auto;
  width: 100%;
  max-width: 20em;
}

.xnest28 {
  margin: 0 auto;
  width: 100%;
  max-width: 28em;
}

.xnest-top {
  font-size: 110%;
  text-align: center;
  margin-bottom: 1.5em;
  padding-top: 3em;
  width: 100%;
}

.kaoCTA {
  background: linear-gradient(145deg, rgba(38,139,210,0.3) 0%,  rgba(255,255,255,0) 100%);
  margin: 5em auto 5em;
  padding: 1em 0.5em;
}

.kaoNAV {
  background: linear-gradient(145deg, rgba(38,139,210,0.3) 0%,  rgba(255,255,255,0) 100%);
  margin: 5em auto 5em;
  padding: 1em 0.5em;
}

.kaoNAV li {
line-height: 1.8;
}

.kaoNAV ul {
  list-style-type: none;
  margin: 1.5em 0 3em 0;
  padding: 0;
}

.kaoQUOTE {
  border: 1px solid currentColor;
  font-size: 85%;
  margin: 5em 0 5em 0;
  padding: 0 1em 0;
}

hr {
  background-color: currentColor;
  border: none;
  color: currentColor;
  height: 0.1em;
  margin: 5em 0 5em;
  padding: 0;
  width: 5em;
}




/* BLOCKQUOTE, FIGURE, FORMS, IMAGES, LISTS AND TABLES BELOW */

aside, blockquote {
  color: currentColor;
  margin-left: 0;
  width: 100%;
}

aside + h2, h3, h4 {
  margin-top: 5em;
}

blockquote + h2, h3, h4 {
  margin-top: 5em;
}

figure {
  text-align: left;
  margin: 5em 0;
}

figure + h2, h3, h4 {
  margin-top: 5em;
}

figure img {
  margin: 0;
  padding: 0;
}

figure table {
  margin: 0;
  padding: 0;
}

figcaption {
  color: currentColor;
  font-size: 85%;
  margin: 0;
  padding: 0;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}

img[src$=".jpg"]{
  background: currentColor;
}

.kao-1x1-full {
width: 100%;
max-width: 1728px;
aspect-ratio: 1 / 1;
background: currentColor;
}

.kao-1x1-half {
width: 48%;
max-width: 1728px;
aspect-ratio: 1 / 1;
background: currentColor;
}

.kao-1x1-third {
width: 31%;
max-width: 1728px;
aspect-ratio: 1 / 1;
background: currentColor;
}

ol {
  margin: 0 0 0 1em;
  padding-left: 0;
}

ol li {
  padding-left: 0;
}

ul {
  margin: 0 0 0 0.5em;
  padding-left: 0;
}

ul li {
  padding-left: 0.46em;
}

li {
  margin-bottom: 0.5em;
}

li > ol, li > ul {
  margin-top: 0.5em;
}

table {
  border-collapse: collapse;
  margin: 5em 0;
  padding: 0;
  width: 100%;
}

/* table style */ .kaoBoxy {
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid currentColor;
}

th, tr, td {
  text-align: left;
  color: currentColor;
  font-size: 85%;
  font-weight: normal;
  margin: 0;
  padding: 1em;
}

/* table style */ .kaoStripey td {
  border-top:1px solid currentColor;
}

table + h2, h3, h4 {
  margin-top: 5em;
}




/* TYPE */

a {
  color: #268bd2;
  overflow-wrap: break-all;
}

a[href*="//"]:not([href*="zachmccabe.com"]):after {
  content: " ↗";
}

.breadcrumbs {
font-size: 85%;
}

code {
  background: #ccc;
  color: #333;
  font-size: calc(100% - 0.1em);
  padding: 0.1rem;
}

code, pre {
  white-space: pre-wrap;
}

h1, h2, h3, h4 {
  color: currentColor;
  font-weight: 300;
  line-height: 1.2;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

h2 {
  font-size: 145%;
}

h2 + h3 {
  margin-top: 0;
}

h3 {
  font-size: 120%;
}

h3 + h4 {
  margin-top: 0;
}

h4 {
  font-size: 108%;
}

.lede {
  font-size: 108%;
}

/*
main > p:first-of-type {
  font-size: 108%;
  margin-bottom: 1.5em;
}
*/

mark {
  background-color: rgba(255,255,255,0);
  border-bottom: 0.1rem dotted currentColor;
  color: currentColor;
  font-size: calc(100% - 0.1em);
  padding: 0.1rem;
  text-decoration: none;
}

p + h2 {
  margin-top: 5em;
}

p + h3, h4 {
  margin-top: 3em;
}

pre {
  font-size: calc(100% - 0.2em);
  width: 100%;
}

pre code {
  color: #000;
  border-bottom: none;
}

pre + h2, h3, h4 {
  margin-top: 5em;
}

ol + h2, h3, h4 {
  margin-top: 5em;
}

ul + h2, h3, h4 {
  margin-top: 5em;
}

@media (prefers-color-scheme: dark) {body {
  background-color: #000;
  color: #ccc;
    }
}
