<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
{%- if page.redirect -%}{%- include meta_301.html -%}{%- else -%}{%- endif -%}
{%- if page.robots == "norobots" -%}{%- include meta_robots.html -%}{%- else -%}{%- endif -%}
{%- if page.snippet == "nosnippet" -%}{%- include meta_robots_nosnippet.html -%}{%- else -%}{%- endif -%}
<meta name="referrer" content="strict-origin-when-cross-origin" />
<meta name="viewport" content="width=device-width">
<title>{{ page.title }}{% if page.title != "Hi, it’s Zach" %}&nbsp;|&nbsp;Zach&nbsp;McCabe{% endif %}</title>
<meta name="description" content="{{ page.description }}" />
<link rel="stylesheet" href="https://www.zachmccabe.com/assets/kao-midnite-13.css">
<link rel="canonical" href="https://www.zachmccabe.com{{ page.url }}" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="https://www.zachmccabe.com/sitemap.xml" />
</head>
<body>

<!--
<div class="flx">
<div class="flx-left"></div>
<div class="flx-right">
-->

<div class="flx-push-footer">
  <div class="site-nav-top">{%- include site_nav.html -%}</div>
  <header>
    <h1 id="{{ page.title }}">{{ page.title }}</h1>
  </header>
  <main>
    {%- if page.title == "Hi, it’s Zach" or page.title == "About" or page.title == "Contact" -%}<div class="wrap-70"><p class="lede">{%- include key_details_full.html -%}</p></div>{%- else -%}{%- endif -%}
    {%- if page.space == nil -%}<div class="space"></div>{%- endif -%}
    <div class="wrap-70">
      {%- if page.lede == "print" -%}<p>{%- if page.hub == nil and page.collection == 'beijing' -%}{%- include breadcrumbs_collection_only.html -%}&nbsp;&nbsp{%- endif -%}{%- include print_update.html -%}&nbsp;&nbsp;{%- include emoji_collection_switch.html -%}&nbsp;&nbsp;{{ page.description }}</p>{%- endif -%}
      {{ content }}
      {%- if page.lede and page.update -%}{% include print_history.html %}{%- endif -%}
      {%- if page.collection -%}<p class="breadbox"><nav class="breadcrumbs">{%- include emoji_collection_switch.html -%}&nbsp;{%- include breadcrumbs.html -%}</nav></p>{%- endif -%}
    </div>
  </main>
  <footer><p>Text and images &copy; Zach McCabe<br />All rights reserved</p></footer>
</div>
</body>
</html>
