<!doctype html>
<html lang="en-US">
<head>
<title>{{ page.title }} &vert; Zach McCabe</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ page.description }}" />
<meta name="date" content="{{ page.date }}" />
<style>
{% include kaoliang_33.html %}
</style>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
  
  <body>
    <header>
      <p>{% include nav.html %}</p>
    </header>
    <main>
      <h1 id="{{ page.title }}">{{ page.title }}</h1>
      <div class="xwrap">
        <div class="xnest20">
          {{ content }}
        </div>
      </div>
    </main>

    <footer>
      {% include footer.html %}
    </footer>
    
  </body>
</html>
