<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
{%- if page.redirect -%}{%- include meta_301.html -%}{%- else -%}{%- endif -%}
{%- if page.robots == "norobots" -%}{%- include meta_robots.html -%}{%- else -%}{%- endif -%}
{%- if page.snippet == "nosnippet" -%}{%- include meta_robots_nosnippet.html -%}{%- else -%}{%- endif -%}
<meta name="referrer" content="strict-origin-when-cross-origin" />
<meta name="viewport" content="width=device-width">
<title>{{ page.title }} | Zach McCabe</title>
<meta name="description" content="{{ page.description }}" />
<link rel="stylesheet" href="https://www.zachmccabe.com/assets/kao-nite-13.css">
<link rel="canonical" href="https://www.zachmccabe.com{{ page.url }}" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="https://www.zachmccabe.com/sitemap.xml" />
</head>
<body>
<div class="xwrap">
<div class="xnest-top">
{%- include site_nav.html -%}
</div>
<header>
<h1 id="{{ page.title }}">{{ page.title }}</h1>
</header>
<div class="{%- if page.nest == "20" -%}xnest20{%- else -%}xnest29{%- endif -%}">
{%- if page.collection -%}<p style="margin-top:2em;"><nav class="breadcrumbs">{%- include emoji_collection_switch.html -%}&nbsp;{%- include breadcrumbs.html -%}</nav></p>{%- endif -%}
<main>
{%- if page.lede == "print" -%}<p>{%- include print_update.html -%}&nbsp;•&nbsp;{{ page.description }}</p>{%- endif -%}
{{ content }}
{%- if page.lede and page.update -%}{% include print_history.html %}{%- endif -%}
{%- if page.collection -%}<p style="margin-top:2em;"><nav class="breadcrumbs">{%- include emoji_collection_switch.html -%}&nbsp;{%- include breadcrumbs.html -%}</nav></p>{%- endif -%}
</main>
<footer>
</footer>
</div>
</div>
</body>
</html>
