<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
<title>{{ page.title }}</title>
<style>

html, body {
margin: 0 auto;
}

body {
background-color: #fefcfb;
color: #47433a;
font: normal normal 1em/1.6 sans-serif;
padding-top: 3em;
text-align: center;
}

@media (min-width: 64em){body{font-size:1.2em}}
@media (min-width: 85em){body{font-size:1.4em}}
@media (min-width: 120em){body{font-size:2.2em}}
@media (min-width: 160em){body{font-size:3em}}

a {
color: #268bd2;
}

h1 {
color: currentColor;
font-size: 2.6em;
line-height: 1.2;
overflow-wrap: break-word;
}

</style>
</head>
<body>
<p>{% include nav.html %}</p>
<h1 id="{{ page.title }}">{{ page.title }}</h1>
<p>{% include key_details.html %}</p>

{{ content }}

</body>
</html>
