<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://www.zachmccabe.com/assets/css/kaoliang3_article.css">
  </head>
  
<body>
<header>
<p>{% include nav.html %}</p>
</header>

<main>
<h1 id="{{ page.title }}">{{ page.title }}</h1>
<div class="xwrap">
<div class="xnest20">
{{ content }}
{% if page.cta %}<div class="kaoCTA"><p>{{ page.cta }}</p></div>{% else %}{% endif %}
</div>
</div>
</main>

<footer>
{% include footer.html %}
</footer>
    
</body>
</html>
